.DS_Store
/app/site/accounts
/app/site/cache
/app/site/config/*
!/app/site/config/config.php
/app/thumbs/*
/app/assets/css/app.css
/app/assets/js/app.js
/app/assets/avatars

/app/content

node_modules
/log
