// Layout

@mixin section-margins--standard {
  padding: $layout__spacing--medium $layout__spacing--base;

  @include screen--medium {
    padding: $layout__spacing--large $layout__spacing--medium;
  }

  @include screen--large {
    padding: $layout__spacing--wide $layout__spacing--large;
  }
}

// Grid Helpers

@mixin grid($gutter-width: 2rem) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-left: -$gutter-width / 2;
  margin-right: -$gutter-width / 2;
}

@mixin grid--single-row {
  flex-wrap: nowrap;
}

@mixin grid--column {
  flex-direction: column;
  flex-wrap: nowrap;
}

@mixin grid--row {
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin grid--kebab {
  align-items: center;
}


@mixin grid--clothesline {
  align-items: flex-start;
}

@mixin grid--centered {
  justify-content: center;
}

@mixin grid__item($expression: 1/1, $gutter-width: 2rem) {
  @if $gutter-width != false {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }

  @if $expression == auto {
    width: auto;
  } @else {
    width: 100% * $expression;
  }
}

@mixin grid__item--push($expression, $side: left) {
  margin-#{$side}: 100% * $expression;
}
