.responsive-image {
  position: relative;
  overflow: hidden;

  &__shim {}

  &__image {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 250ms linear opacity;
  }

  &__image--is-loaded {
    opacity: 1;
  }
}

