.archive {
  &__intro {
    padding: $layout__spacing--slim;

    @include screen--medium {
      padding: $layout__spacing--wide;
    }
  }

  &__logo {
    width: 100px;
    margin-bottom: $layout__spacing--standard;
  }

  &__title {
    margin-bottom: $layout__spacing--slim;
  }

  &__description {
    @include screen__large {
      width: 60%;
    }
  }

  &__index {
    padding: $layout__spacing--slim;

    @include screen--medium {
      padding: $layout__spacing--wide;
    }
  }

  &__year {
    margin-bottom: $layout__spacing--standard;
    border-top: 1px solid $color__black;
  }

  &__year-title {
    margin-top: $layout__spacing--slim;
    margin-bottom: $layout__spacing--standard;
    font-weight: bold;
    font-size: 1.25rem;
  }

  &__terms {
    margin-bottom: $layout__spacing--standard;
  }

  &__term-title {
    margin-bottom: $layout__spacing--standard;
    font-size: 1.25rem;
  }

  &__grads {
    margin-bottom: $layout__spacing--standard;

    .grads-index__grad {
      @include screen--medium {
        @include grid__item(1/4);
      }
    }
  }

  // Index Styles

  .grads__grad-link {
    color: $color__black;
  }
}
