.archive {
  &__intro {
    padding: $layout__spacing--slim;

    @include screen--medium {
      padding: $layout__spacing--wide;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__index {
    padding: $layout__spacing--slim;

    @include screen--medium {
      padding: $layout__spacing--wide;
    }
  }

  &__year {
    margin-bottom: $layout__spacing--standard;
    border-top: 1px solid $color__black;
  }

  &__year-title {
    margin-top: $layout__spacing--slim;
    margin-bottom: $layout__spacing--standard;
    font-weight: bold;
    font-size: 1.25rem;
  }

  &__terms {
    margin-bottom: $layout__spacing--standard;
  }

  &__term-title {
    margin-bottom: $layout__spacing--standard;
    font-size: 1.25rem;
  }

  &__grads {
    margin-bottom: $layout__spacing--standard;
  }

  // Index Styles

  .grads__grad-link {
    color: $color__black;
  }
}
