.footer {
  padding: $layout__spacing--standard $layout__spacing--slim;

  @include screen--medium {
    padding: $layout__spacing--wide;
  }

  .document--template-archive &,
  .document--is-archived-term & {
    background-color: black;
    color: white;
  }

  &__content {
    @include grid;
  }

  &__about {
    @include grid__item;

    margin-bottom: $layout__spacing--standard;

    @include screen--large {
      @include grid__item(6/10);
    }
  }

  &__archive{
    @include grid__item;
    
    @include screen--large {
      @include grid__item(3/10);
      @include grid__item--push(1/10);
    }
  }

  &__archive-link {
    @include button;
    
    display: inline-block;
    margin-top: 1rem;

    .document--template-archive &,
    .document--is-archived-term & {
      padding: 0.5rem 1rem;
      border: 1px solid white;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
