.footer {
  padding: 1rem;

  @include screen--medium {
    padding: 5rem;
  }

  &__content {
    @include grid;
  }

  &__about {
    @include grid__item(1);

    margin-bottom: 1rem;

    @include screen--large {
      @include grid__item(2/4);
    }
  }

  &__credits {
    @include grid__item(1);

    margin-bottom: 1rem;
    
    @include screen--medium {
      @include grid__item(1/2);
    }

    @include screen--large {
      @include grid__item(1/4);

      margin-bottom: 0;
    }
  }

  &__archive{
    @include grid__item(1);

    @include screen--medium {
      @include grid__item(1/2);
    }
    
    @include screen--large {
      @include grid__item(1/4);
    }
  }

  &__archive-link {
    @include button;
    
    display: block;
    margin-top: 1rem;
  }
}
