.footer {
  padding: $layout__spacing--slim;

  @include screen--medium {
    padding: $layout__spacing--wide;
  }

  &__content {
    @include grid;
  }

  &__about {
    @include grid__item;

    margin-bottom: $layout__spacing--slim;

    @include screen--large {
      @include grid__item(3/5);
    }
  }

  &__archive{
    @include grid__item;
    
    @include screen--large {
      @include grid__item(2/5);
    }
  }

  &__archive-link {
    @include button;
    
    display: block;
    margin-top: 1rem;
  }
}
