.grads-index {

  &__grads {
    @include grid;
  }

  &__grad {
    @include grid__item;

    margin-bottom: 2rem;

    @include screen--medium {
      @include grid__item(1/3);
    }
  }

  &__grad-link {
    display: block;
    position: relative;
  }

  &__grad-media {
    position: relative;
    margin-bottom: 1rem;
  }

  &__grad-image {
    &--primary {
      .responsive-image {
        &__shim {
          padding-bottom: 100%;
        }
      }
    }

    &--alternate {
      @include fill-parent;

      opacity: 0;
      transition: 0.15s linear opacity;

      .grads-index__grad-link:hover & {
        opacity: 1;
      }

      .responsive-image {
        @include fill-parent;
      }
    }
  }

  &__grad-name {}
}
