.graduate {
  padding: $layout__spacing--slim;
  
  @include screen--medium {
    padding: $layout__spacing--wide;
  }

  &__content {
    @include grid();
    @include grid--kebab;
    @include grid--column;
  }

  &__photo {
    @include grid__item();

    margin-bottom: $layout__spacing--standard;

    @include screen--medium {
      @include grid__item(1/3);
    }
  }

  &__name {
    @include grid__item();

    margin-bottom: $layout__spacing--slim;
    text-align: center;
  }

  &__bio {
    @include grid__item();

    text-align: center;

    @include screen--medium {
      @include grid__item(2/3);
    }
  }

  &__interests {
    margin-bottom: $layout__spacing--slim;
  }

  &__interest {
    background-color: black;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  &__buttons {
    @include grid__item();

    margin-top: $layout__spacing--standard;
    text-align: center;
  }

  &__button {
    display: inline-block;
  }

  &__button--link {
    @include button;

    display: inline-block;

    .graduate--is-archived & {
      border: 1px solid black;
      padding: 0.75rem 2rem;
      margin: 0 0.25rem;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  &__work-samples {
    @include grid__item();

    margin-top: $layout__spacing--wide;

    @include screen--medium {
      @include grid__item(5/6);
    }
  }

  &__work-sample {
    margin-bottom: $layout__spacing--wide;
  }

  &__work-sample--image {
    margin-bottom: $layout__spacing--standard;
  }

  &__work-sample--description {
    text-align: center;
  }

  // All Grads Index

  &__all-grads {
    margin-top: $layout__spacing--wide;
  }

  &__all-grads-content {}

  &__all-grads-header {
    margin-bottom: $layout__spacing--standard;
  }
}
