.menu {
  padding: $layout__spacing--slim;

  @include screen--medium {
    padding: $layout__spacing--slim $layout__spacing--standard;
  }

  &--archive {
    background-color: black;
    color: white;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &--home {
      width: 80px;
      
      @include screen--medium {
        width: 150px;
      }
    }
  }

  &__item-link {}
}
