.menu {
  padding: $layout__spacing--slim;

  &--archive {
    background-color: black;
    color: white;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &--home {
      width: 150px;
    }
  }

  &__item-link {}
}
