.menu {
  padding: $layout__spacing--slim;

  @include screen--medium {
    padding: $layout__spacing--slim $layout__spacing--standard;
  }

  &--archive {
    background-color: black;
    color: white;
    font-size: 0.75rem;

    @include screen--medium {
      display: flex;
      font-size: 1rem;
      justify-content: space-between;
    }
  }

  &__breadcrumbs {
    display: flex;
  }

  &__breadcrumb {
    &::after {
      color: $color__grey--dark;
      content: '/';
      margin: 0 0.75em;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__breadcrumb-link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__items {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &--home {
      width: 80px;
      
      @include screen--medium {
        width: 150px;
      }
    }
  }

  &__item-link {}
}
