.sponsors {
  padding: 1rem;
  
  @include screen--medium {
    padding: 3rem;
  }

  &__items {
    @include grid;
  }

  &__item {
    @include grid__item;

    margin-bottom: 1rem;
    display: block;

    @include screen--medium {
      @include grid__item(1/4);
    }
  }
}
