.term {
  &__hero {
  }

  // Details (What, When, Where) Section
  &__details {
    padding: $layout__spacing--standard $layout__spacing--slim;

    @include screen--medium {
      padding:  $layout__spacing--standard $layout__spacing--wide;
    }
  }

  &__details-items {
    @include grid;
  }

  &__details-item {
    @include grid__item;

    margin-bottom: $layout__spacing--standard;

    @include screen--medium {
      @include grid__item(1/3);

      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__details-item-action {
    margin-top: 1rem;
    display: block;
  }


  // About (Introduction) Section

  &__about {
    padding: $layout__spacing--standard $layout__spacing--slim;

    @include screen--medium {
      padding: $layout__spacing--wide;
    }
  }

  &__about-content {
    @include grid();
    @include grid--kebab;
    @include grid--column;
  }

  &__about-message {
    @include grid__item();

    @include screen--medium {
      @include grid__item(2/3);
    }
  }

  //Ticket Link

  &__attend-button {
    @include button;

    margin-top: $layout__spacing--standard;
    display: block;
  }

  // Grads Section

  &__grads {
    padding: $layout__spacing--standard $layout__spacing--slim;

    @include screen--medium {
      padding: $layout__spacing--wide;
    }
  }

  &__grads-content {}

  &__grads-header {
    margin-bottom: $layout__spacing--standard;
  }

  // Sponsors Section

  &__sponsors {
    padding: $layout__spacing--slim;
  
    @include screen--medium {
      padding: $layout__spacing--wide;
    }
  }

  &__sponsors-header {
    margin-bottom: $layout__spacing--standard;
  }

  &__sponsors-list {
    @include grid;

    align-items: center;
  }

  &__sponsor {
    @include grid__item(1/2);

    margin-bottom: $layout__spacing--slim;
    display: block;

    @include screen--medium {
      @include grid__item(1/4);
    }
  }

  &__sponsor-link {
    display: block;
  }
}
